{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["chrome >= 49"]
      },
      "modules": "commonjs",
      "useBuiltIns": true,
      "debug": true
    }
    ], "react", "stage-0", "minify"]
}
