{
  "extends": [
    "airbnb"
  ],
  "plugins": ["react", "jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "no-continue": "off",
    "no-cond-assign": 0,
    "strict": ["warn", "never"],
    "no-shadow": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [0],
    "react/no-unused-prop-types": "warn",
    "no-class-assign": 0,
    "import/no-unresolved" : "off",
    "import/extensions": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "max-len": [0, {"code": 200}], /*airbnb default maxlength causes problems with my ide*/
    "no-else-return": "off",
    "no-underscore-dangle": 0,
    "react/jsx-space-before-closing" : "off",
    "import/no-extraneous-dependencies": "off",
    "indent": ["warn",4, {"SwitchCase": 1}],
    "camelcase": ["warn", {"properties": "always"}],
    "comma-spacing": ["warn", {"after": true}],
    "comma-dangle":"off",
    "array-bracket-spacing":["off", "always"],
    "no-param-reassign": [0],
    "key-spacing": ["warn", { "afterColon": true, "beforeColon": false}],
    "no-unused-vars": "warn",
    "react/jsx-indent": ["warn", 4],
    "react/jsx-indent-props": ["warn", 5],
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "eol-last": 0,
    "no-extra-semi": "warn",
    "react/no-multi-comp": 0,
    "arrow-spacing": ["warn", { "before": true, "after": true }],
    "no-plusplus": 0,
    "jsx-quotes": ["warn", "prefer-single"],
    "object-curly-spacing": ["off", "always"],
    "space-infix-ops": [0, "never"],
    "func-names": [0, "never"],
    "keyword-spacing": ["warn"],
    "brace-style": ["warn"],
    "arrow-body-style": ["warn"],
    "react/sort-comp": 0,
    "no-empty" : ["warn"],
    "react/no-find-dom-node": ["warn"],
    "spaced-comment": "off",
    "arrow-parens": [0],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "react/jsx-closing-bracket-location": ["off", "after-props"],
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 1 }],
    "consistent-return": "warn",
    "quotes": ["warn","single"],
    "class-methods-use-this": "warn",
    "no-useless-return": 0,
    "semi": ["warn", "always"],
    "object-shorthand": "warn",
    "jsx-a11y/no-static-element-interactions":"warn",
    "array-callback-return": "warn",
    "import/first": "warn",
    "radix": 0,
    "import/newline-after-import": "warn",
    "object-property-newline": "off",
    "prefer-arrow-callback": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "no-prototype-builtins": "off",
    "guard-for-in": "off",
    "valid-typeof": "off",
    "prefer-template": "off"
  }
}
